<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDN for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ERMS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/patient">Patient</a></li>
                    <li><a href="/staff">Staff</a></li>

                    {% block navbar %} {% endblock %} {% if user %}
                    <li><a href='/logout'>Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <div class='row'>
            <div class='col-md-6'>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient Login</h3>
                    </div>
                    <div class="panel-body">
                        <p>Login to your patient account to:</p>
                        
                        <ul>
                            <li>Make an appointment</li>
                            <li>Refill prescriptions</li>
                            <li>View your medical history</li>
                            <li>View / Pay bills</li>
                        </ul>
                        
                        <a class="btn btn-info btn-block" href="/patient" role="button">Login</a>
                    </div>
                </div>
            </div>
            
            <div class='col-md-6'>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Staff Login</h3>
                    </div>
                    <div class="panel-body">
                        <p>Login to your staff account to perform your day-to-day duties.</p>
                        
                        <a class="btn btn-warning btn-block" href="/staff" role="button">Login</a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>